@font-face {
    font-family: Cormorant-Regular;
    src: url(../Font/Cormorant-Regular.ttf);
}

@font-face {
    font-family: Cormorant-Medium;
    src: url(../Font/Cormorant-Medium.ttf);
}

@font-face {
    font-family: Cormorant-Bold;
    src: url(../Font/Cormorant-Bold.ttf);
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
  
body {
    padding: 0;
    margin: 0;
}

.menu-hamburger {
    display: none;
}

/*Header*/
.header {
    display: flex;
    flex-direction: row;
    background: #000;
    width: 100%;
    height: 120px;
    justify-content: space-between;
    padding: 0 100px;
}
.logo {
    display: block;
    padding: 32px 0;
}
.menu>ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 45px 0;
    gap: 55px;
}
.menu>ul li {
    display: block;
    list-style: none;
    font-family: Cormorant-Regular;
    font-size: 22px;
    color: #fff;
}
.nav {
    display: block;
    list-style: none;
    font-family: Cormorant-Regular;
    font-size: 22px;
    color: #fff;
    text-decoration: none;
    padding: 0;
}
.nav:hover {
    text-shadow: 0 20px 20px rgb(210, 174, 109);
    color: #D9B572;
}

.icons {
    display: block;
    padding: 45px 0;
    justify-content: space-between;
}
.profile {
    padding-left: 20px;
}
.search {
    padding-left: 70px;
}
/*Main*/
.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 660px;
    background: #000; 
    padding: 44px 100px 144px 100px;
}
.left {
    display: flex;
    flex-direction: column;
    justify-content:left;
    padding: 100px 0 0 0;
}
.right {
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 707px;
    justify-content:right;
    padding-right: 50px;
    padding-top: 30px;
}

h1 {
    display: block;
    font-family: Cormorant-Bold;
    font-size: 48px;
    color: #000;
    margin: 0;
}
.title {
    display: block;
    font-family: Cormorant-Regular;
    font-size: 22px;
    color: #000;
    width: 671px;
    margin: 30px 0;
}
.button {
    display: block;
    background: linear-gradient(to right, #D9B572, #8B5535); 
    font-family: Cormorant-Regular;
    font-size: 30px;
    cursor: pointer;
    color: white;
    border-radius: 35px;
    width: 259px;
    height: 70px;
    margin-top: 176px;
}

.button:hover, .btn:focus {
    background: linear-gradient(to right, #8B5535,#D9B572);
}

/* свойства модального окна по умолчанию */
.modal {
    position: fixed; /* фиксированное положение */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.5); /* цвет фона */
    z-index: 1050;
    opacity: 0; /* по умолчанию модальное окно прозрачно */
    -webkit-transition: opacity 200ms ease-in; 
    -moz-transition: opacity 200ms ease-in;
    transition: opacity 200ms ease-in; /* анимация перехода */
    pointer-events: none; /* элемент невидим для событий мыши */
    margin: 0;
    padding: 0;
}
/* при отображении модального окно */
.modal:target {
    opacity: 1; /* делаем окно видимым */
	  pointer-events: auto; /* элемент видим для событий мыши */
    overflow-y: auto; /* добавляем прокрутку по y, когда элемент не помещается на страницу */
}
/* ширина модального окна и его отступы от экрана */
.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}
@media (min-width: 576px) {
  .modal-dialog {
      max-width: 500px;
      margin: 30px auto; /* для отображения модального окна по центру */
  }
}
/* свойства для блока, содержащего контент модального окна */ 
.modal-content {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background: linear-gradient(to right, #D9B572, #8B5535); 
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
}
@media (min-width: 768px) {
  .modal-content {
      -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
      box-shadow: 0 5px 15px rgba(0,0,0,.5);
  }
}
/* свойства для заголовка модального окна */
.modal-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #eceeef;
}
.modal-title {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.5;
    font-family: Cormorant-Bold;
    font-size: 22px;
    color: #000;
}

.modal-body {
    display: flex;
    flex-direction: column;
    font-family: Cormorant-Regular;
    font-size: 18px;
}

.modal-footer {
    display: flex;
    margin-top: 130px;
}

.btn {
    display: block;
    background: linear-gradient(to right, #D9B572, #8B5535); 
    font-family: Cormorant-Regular;
    font-size: 20px;
    padding: 5px 30px;
    cursor: pointer;
    color: white;
    border-radius: 35px;
    width: 150px;
    height: 40px;
    margin-top: 150px;
    position: absolute;
    right: 175px;
    
}
/* свойства для кнопки "Закрыть" */
.close {
    float: right;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    text-decoration: none;
}
/* свойства для кнопки "Закрыть" при нахождении её в фокусе или наведении */
.close:focus, .close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: .75;
}
/* свойства для блока, содержащего основное содержимое окна */
.modal-body {
  position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 15px;
    overflow: auto;
}

.block {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 748px;
    background: #f4f4f4; 
    padding: 30px 100px 50px 100px;
}

.block1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.block2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.second-title {
    display: flex;
    font-family: Cormorant-Bold;
    font-size: 28px;
    color: #000;
    margin-top: 60px;
}

.columns {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}

.col1 {
    display: block;
    flex-direction: column;
    font-family: Cormorant-Regular;
    font-size: 22px;
    color: #000;
    width: 50%;
    margin-right: 70px;
    margin-bottom: 40px;  
}

.col2 {
    display: block;
    flex-direction: column;
    font-family: Cormorant-Regular;
    font-size: 22px;
    color: #000;
    width: 50%;
    margin-bottom: 40px;  
}

.col-text {
    font-size: 22px;
    margin-bottom: 20px;
}

.horizontal_line {
    height: 1px;
    width: 100%;
    background-color: #000;
}

/*Catalog*/
.catalog {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 1336px;
    background: #f4f4f4; 
    padding: 0 100px;
}
.cards {
    display: flex;
    flex-direction: row;
    margin-top: 198px;
    position:absolute;
}
.row1 {
    display: flex;
    flex-direction: row;
    position:absolute;
    justify-content: space-between;
    gap: 20px;
}
.row2 {
    display: flex;
    flex-direction: row;
    position:absolute;
    justify-content: space-between;
    gap: 20px;
    margin-top: 490px;
}
.card {
    display: grid;
    place-items: center;
    width: 40vw;
    max-width: 300px;
    height: 28.125rem;
    overflow: hidden;
    border-radius: 0.625rem;
  }
  
  .card > * {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  
  .card__background {
    object-fit: cover;
    max-width: 100%;
    height: 100%;
  }
  
  .card__content {
    --flow-space: 0.9375rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: flex-end;
    height: 55%;
    padding: 12% 1.25rem 1.875rem;
    background: linear-gradient(
      180deg,
      hsla(0, 0%, 0%, 0) 0%,
      hsla(0, 0%, 0%, 0.3) 10%,
      hsl(0, 0%, 0%) 100%
    );
  }
  
  .card__content--container {
    --flow-space: 1.25rem;
  }
  
  .card__title {
    position: relative;
    width: fit-content;
    width: -moz-fit-content; 
    display: flex;
    font-family: Cormorant-Bold;
    font-size: 24px;
    color: #fff;
    margin: 0;
  }
  
  .card__title::after {
    content: "";
    position: absolute;
    height: 0.3125rem;
    width: calc(100% + 1.25rem);
    bottom: calc((1.25rem - 0.5rem) * -1);
    left: -1.25rem;
    background-color: var(--brand-color);
  }
  
  p {
    display: block;
    list-style: none;
    font-family: Cormorant-Regular;
    font-size: 16px;
    color: #fff; 
    margin: 0;
  }

  .card__button {
    padding: 0.75em 1.6em;
    width: fit-content;
    width: -moz-fit-content;
    font-variant: small-caps;
    font-weight: bold;
    border-radius: 0.45em;
    border: none;
    background-color: var(--brand-color);
    font-family: Cormorant-Bold;
    font-size: 1.125rem;
    color: #fff;
    outline: 2px solid white;
    outline-offset: -5px;
    margin-top: 80px;
  }
  
  .card__button:focus {
    outline: 2px solid white;
    outline-offset: -5px;
  }
  
  @media (any-hover: hover) and (any-pointer: fine) {
    .card__content {
      transform: translateY(62%);
      transition: transform 500ms ease-out;
      transition-delay: 500ms;
    }
  
    .card__title::after {
      opacity: 0;
      transform: scaleX(0);
      transition: opacity 1000ms ease-in, transform 500ms ease-out;
      transition-delay: 500ms;
      transform-origin: right;
    }
  
    .card__background {
      transition: transform 500ms ease-in;
    }
  
    .card__content--container > :not(.card__title),
    .card__button {
      opacity: 0;
      transition: transform 500ms ease-out, opacity 500ms ease-out;
    }
  
    .card:hover,
    .card:focus-within {
      transform: scale(1.05);
      transition: transform 500ms ease-in;
    }
  
    .card:hover .card__content,
    .card:focus-within .card__content {
      transform: translateY(0);
      transition: transform 500ms ease-in;
    }
  
    .card:focus-within .card__content {
      transition-duration: 0ms;
    }
  
    .card:hover .card__background,
    .card:focus-within .card__background {
      transform: scale(1.3);
    }
  
    .card:hover .card__content--container > :not(.card__title),
    .card:hover .card__button,
    .card:focus-within .card__content--container > :not(.card__title),
    .card:focus-within .card__button {
      opacity: 1;
      transition: opacity 500ms ease-in;
      transition-delay: 1000ms;
    }
  
    .card:hover .card__title::after,
    .card:focus-within .card__title::after {
      opacity: 1;
      transform: scaleX(1);
      transform-origin: left;
      transition: opacity 500ms ease-in, transform 500ms ease-in;
      transition-delay: 500ms;
    }
  }
  
/*Subscription*/
.subscription {
    display: flex;
    flex-direction: column;
    background: #f4f4f4;
    height: 1750px;
}

.sub {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 601px;
    background: linear-gradient(to right,#8B5535, #D9B572);
    padding: 0 100px 144px 100px;
}

.sub-header {
    display: block;
    font-family: Cormorant-Bold;
    margin: 0;
    color: #fff;
    font-size: 64px;
}

.stitle {
    display: block;
    font-family: Cormorant-Bold;
    margin: 0;
    color: #000;
    font-size: 40px;
}

.sub-button {
    display: block;
    background: linear-gradient(to right, #080808, #444342); 
    font-family: Cormorant-Regular;
    font-size: 20px;
    cursor: pointer;
    color: white;
    border-radius: 35px;
    width: 230px;
    height: 60px;
    margin-top: 242px;
}

.sub-button:hover, .btn:focus {
    background: linear-gradient(to right, #444342,#080808);
}

.sub-right {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 505px;
    justify-content:right;
    padding-right: 100px;
    margin-top: 50px;
}

.sub-main {
    display: flex;
    flex-direction: column;
    padding: 0 100px;
    margin-top: 80px;
    height: 1100px;
}

.sub-cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding: 45px 0 0 0;
}

.sub-card {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right, #D9B572, #8B5535);
    width: 350px;
    height: 400px;
    border-radius: 15px;
    padding: 40px 15px;
    justify-content: space-between;
}

.sub-footer {
    padding: 0 100px;
    margin-bottom: 80px;
}

.faq {
    width: 100%;
    margin: 30px 0;
}
   
details {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 0.5em;
    margin-bottom: 1em;
}
   
summary {
    font-family: Cormorant-Bold;
    font-size: 24px;
    cursor: pointer;
}
   
details[open] {
    background-color: #fff;
}

/*Recipes*/
.recipes {
    display: flex;
    flex-direction: column;
    background: #f4f4f4;
    height: 1329px;
    padding: 0 100px;
}
.recipe {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    gap: 55px;
}
.rec-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 55px;
}

.rec-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 55px;
}
  
.article-card {
    display: flex;
    flex-direction: row;
    width: 600px;
    height: 440px;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 300ms;
}
  
.article-card:hover {
    transform: translateY(-2px);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
  
.article-card img {
    width: 50%;
    height: 100%;
    object-fit: cover;
}
  
.article-card .content {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    position: relative;
    padding: 30px 20px 20px 20px;
    height: auto;
    bottom: 0;
    background: #fff;
}
 
.article-card .head-title {
    font-family: Cormorant-Bold;
    font-size: 24px;
    color: #000;
    margin-top: 10px;
}
  
.article-card .title1 {
    font-family: Cormorant-Bold;
    font-size: 16px;
    color: #000;
    margin-bottom: 4px;
}
  
.article-card .title2 {
    font-family: Cormorant-Regular;
    font-size: 12px;
    color: #000;
    margin: 0;
}

/*Delivery*/
.delivery {
    padding: 0 100px;
    height: 698px;
    background-color: #f4f4f4;
    width: 100%;
}

.delivery-text {
    display: flex;
    flex-direction: row;
}

.delivery-foto {
    display: flex;
    flex-direction: column;
    width: 550px;
    height: 520px;
    justify-content:right;
}

.delivery-col1 {
    display: block;
    flex-direction: column;
    font-family: Cormorant-Regular;
    font-size: 22px;
    color: #000;
    margin-top: 30px; 
}

.delivery-col2 {
    display: block;
    flex-direction: column;
    font-family: Cormorant-Regular;
    font-size: 22px;
    color: #000;
    margin-left: 150px;
    margin-top: 40px;  
}

.delivery-columns {
    display: flex;
    flex-direction: column;
    width: 580px;
}

.delivery-second-title {
    display: flex;
    font-family: Cormorant-Bold;
    font-size: 24px;
    color: #000;
}

/*Reviews*/
.reviews {
    padding: 0 100px;
    height: 647px;
    background-color: #000;
    width: 100%;
}

.carousel {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 1254px; /* Ширина карусели */
    overflow: hidden;
    padding: 0;
    justify-items: center;
}

.carousel-container {
    display: flex;
    transition: transform 0.5s ease;
    margin: 40px 0;
}

.carousel-item {
    display: flex;
    box-sizing: border-box;
    border: 1px solid #000;
    text-align: center;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    cursor: pointer;
    padding: 10px;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.hidden-text {
    display: none;
}

/*Footer*/
.footer {
    display: flex;
    flex-direction: column;
    background: #000;
    padding: 10px 100px;
    height: 300px;
}

.footer1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.footer2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.social {
    display: flex;
    flex-direction: column;
    justify-content:left;
    padding: 0;
}

.soc {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 10px;
    justify-content: space-between;
}


.menu-ft>ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 45px 0;
    gap: 55px;
}
.menu-ft>ul li {
    display: block;
    list-style: none;
    font-family: Cormorant-Regular;
    font-size: 22px;
    color: #fff;
}

.ft {
    display: block;
    list-style: none;
    font-family: Cormorant-Bold;
    font-size: 22px;
    color: #fff;
    text-decoration: none;
    margin: 10px 0;
}

.q {
    display: block;
    list-style: none;
    font-family: Cormorant-Regular;
    font-size: 22px;
    color: #fff;
    text-decoration: none;
    margin: 10px 0;

}

.sub-footer {
    min-height: calc(100vh - 400px); /* Занимает как минимум высоту экрана минус высота других блоков */
    padding-bottom: 300px;
    box-sizing: border-box;
}

body::after {
    content: '';
    display: block;
    height: 200px;
    background: transparent;
}

.faq {
    max-width: 800px;
    margin: 0 auto;
}

.faq details {
    margin-bottom: 15px;
    background: rgba(27, 27, 27, 0.8);
    border-radius: 10px;
    padding: 20px;
}

.faq summary {
    cursor: pointer;
    font-family: 'Cormorant-Bold', serif;
    font-size: 24px;
    color: #D9B572;
    list-style: none;
    position: relative;
    padding-right: 40px;
}

.faq summary::-webkit-details-marker {
    display: none;
}

.faq p.title {
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid rgba(217, 181, 114, 0.3);
    font-family: 'Cormorant', serif;
    font-size: 20px;
    line-height: 1.4;
    color: #fff;
}

.footer {
    position: relative;
    background: #1B1B1B;
}

